html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.selectionWrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.inspireDiv{
    background-image: url(../img/inspireBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.beinspiredDiv{
    background-image: url(../img/beinspiredBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

.userDiv{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: grayscale(100%);
    transition: 0.5s;
    text-decoration: none;
    
}

.userDiv:hover{
    opacity: .9;
    filter: grayscale(0%);
    text-decoration: none;
}

.classTitle{
    margin-top: 100px;
    text-align: center;
    font-size: 72px;
    color: #DDDDDD;
    font-weight: 1000;
    width: 100%;
}

.header-index{
    position: absolute;
    height: 50px;
    padding-top: auto;
    padding-left: 40px;
    z-index: 1;
    background-color: #001f3f;
    font-size: 20px;
    color: #DDDDDD;
    width: 100%;
}