body{
    background-color: #DDDDDD;
    color: #111111;
}

.header{
    padding: 10px 0 10px 40px;
    z-index: 1;
    background-color: #001f3f;
    font-size: 20px;
    color: #DDDDDD;
    width: 100%;
}

.tagSelection{
    display: block;
    margin: 8px 16px;
    padding: 8px 16px;
    border: solid 3px #111111;
}

.tag-div{
    display: inline;
}

.tag{
    display: inline;
}

.tag span{
    transition: 0.2s;
    background-color: #AAAAAA;
}

.tag span:hover{
    cursor: pointer;
    background-color: #FF4136;
    opacity: 0.8;
}

.imgDiv{
    margin: 10px;
}

.hubble-img{
    margin: 4px;
    padding: 2px;
    border: solid 2px #001f3f;
}