@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  height: 100%;
}

body {
  background: radial-gradient(
      rgba(0, 150, 234, 0.28) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #0e0b16;
  color: #e7dfdd;
  font-family: "Roboto", sans-serif;
}

.header {
  z-index: 1;
  padding: 0 10px;
  background-color: #0e0b16;
  border-bottom: solid 3px #e7dfdd;
  height: 50px;
  font-size: 20px;
  color: #e7dfdd;
  display: block;
}

.header .logotxt {
  margin-top: 7.5px;
  height: 35px;
}

.header img {
  height: 30px;
  margin-top: 10px;
}

.right-nav {
  float: right;
  text-align: right;
  line-height: 50px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.2em;
}

.right-nav a {
  color: #0096ea;
}

.tagSelection {
  padding: 16px 0px;
  text-align: center;
}

.tag {
  display: inline;
  margin: 0 6px;
}

.tag span {
  font-size: 16px;
  transition: 0.2s;
  padding: 8px 16px;
  background-color: #0096ea;
}

.tag span:hover {
  cursor: pointer;
  background-color: #0e0b16;
  opacity: 0.8;
}

.imgDiv {
  display: flex;
  width: 100%;
  height: auto;
  padding: 8px 16px;
  flex-flow: row wrap;
  justify-content: center;
}

.hubble-img {
  margin: 6px;
  opacity: 0.7;
  transition: 0.2s;
}

.hubble-img:hover {
  opacity: 1;
}

.current-score-div {
  width: 100%;
  margin: 20px 0;
}

.current-score-div > div {
  background: #0096ea;
  border-radius: 6px;
  width: 60px;
  height: 100%;
  text-align: center;
  color: #dddddd;
  margin: auto;
  font-size: 24px;
  padding: 10px 0;
}

.main-img {
  margin: 40px auto;
  display: block;
}

.answers-div {
  width: 80%;
  margin: auto;
}

.answer-block {
  display: grid;
  margin: 10px;
  padding: 20px;
  grid-template-columns: 50px auto;
  grid-template-rows: 100%;
  border: solid 2px #0096ea;
  transition: 0.2s;
  border-radius: 6px;
}

.answer-block:hover {
  cursor: pointer;
  background-color: rgba(255, 65, 54, 0.7);
}

.num-block {
  color: #dddddd;
  margin: auto;
  text-align: center;
}

.answer-block > p {
  margin: 0 10px;
}

.textArea {
  display: block;
  margin: auto;
  resize: none;

  background: radial-gradient(
      100px at 50% 50%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #e7dfdd;
  resize: none;
  transition: 1s;
  border: solid 12px #e7dfdd;
  border-radius: 14px;
  outline: none;
}

.submit {
  margin: 26px auto;
  display: block;
  color: #ffffff;
  background: #0096ea;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 4px 12px;
}

.addImg {
  margin: 40px auto;
  display: block;
}

.wellPlayed {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

.wpdiv {
  text-align: center;
}

.leaderboard {
  border-collapse: collapse;
  margin: 20px auto;
  width: 40%;
  text-align: center;
}

.leaderboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0096ea;
  color: white;
}

.help {
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 24px 0;
}
