body{
    background-color: #DDDDDD;
    color: #111111;
}

.header{
    padding: 10px 0 10px 40px;
    z-index: 1;
    background-color: #001f3f;
    font-size: 20px;
    color: #DDDDDD;
    width: 100%;
}

.tagSelection{
    display: block;
    margin: 8px 16px;
    padding: 8px 16px;
    border: solid 3px #111111;
}

.tag-div{
    display: inline;
}

.tag{
    display: inline;
}

.tag span{
    transition: 0.2s;
    background-color: #AAAAAA;
}

.tag span:hover{
    cursor: pointer;
    background-color: #FF4136;
    opacity: 0.8;
}

.imgDiv{
    margin: 10px;
}

.hubble-img{
    margin: 4px;
    padding: 2px;
    border: solid 2px #001f3f;
    width: 80px;
    height: 80px;
    opacity: 0.7;
    transition: 0.2s;
}

.hubble-img:hover {
    opacity: 1;
}

.current-score-div{
    width: 100%;
    margin: 20px 0;
}

.current-score-div > div{
    background: #001f3f;
    border-radius: 6px;
    width: 60px;
    height: 100%;
    text-align: center;
    color: #DDDDDD;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
    
}

.main-img{
    display: block;
    margin: auto;
    width: 400px;
    height: 400px;
}

.answers-div{
    width: 80%;
    margin: auto;
}

.answer-block{
    display: grid;
    margin: 10px;
    padding: 20px;
    grid-template-columns: 50px auto;
    grid-template-rows: 100%;
    border: solid 2px #001f3f;
    transition: 0.2s;
}


.answer-block:hover{
    cursor: pointer;
    background-color: rgba(255,65,54, 0.7);
}

.num-block{
    color: #DDDDDD;
    background-color: #001f3f;
    margin: auto;
    padding: 20px;
    border-radius: 100%;
    text-align: center;
}

.answer-block > p {
    margin: 0 10px;
}